<h2><%= @caterer.name %></h2>

<div>
    
    <strong>Description:</strong>
    <p><%= @caterer.description  %></p>
    <p><strong>Type of Food:</strong>
    <%= @caterer.food_type %></p>
    <p><strong>Cost per head:</strong>
    <%= @caterer.cost_per_head %></p>

</div>

<!--Render upcoming events with attendance table -->
<%= render partial: '/events/eventstablewithattendance', locals: {events: @caterer.events.upcoming, caption: "Upcoming Events"} %>
<!--Render past events with attendance table -->
<%= render partial: '/events/eventstablewithattendance', locals: {events: @caterer.events.past, caption: "Past Events"} %>



<%= button_to 'Edit Caterer', edit_caterer_path, :method => "get" %><br>







