 <div class="error">
<% if user.errors.any? %>
    <% user.errors.full_messages.each do |message|%>
        <h4><%= message %> </h4>
    <%end%>
<%end%>
</div>

<div class ="edit_form">
    <%= form_for user do |f|%>
        <p><%= f.label :"Name:" %>
        <%= f.text_field :name %></p>
        <p><%= f.label :"Email:" %>
        <%= f.text_field :email %></p>
        <p><%= f.label :"Password:" %>
        <%= f.text_field :password %></p>
        <p><%= f.label :"Bio:" %>
        <%= f.text_area :bio %></p>
        <%= f.submit "Save" %>
    <%end%><br>
</div>