<h2><%= @user.name %></h2>
<div class="error">
<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message|%>
        <h4><%= message %> </h4>
    <%end%>
<%end%>
</div>

<div class ="edit_form">
    <%= form_for @user, url: updatepicture_path(@user), method: :patch do |f|%>
        <p><%= f.label "Profile Photo" %>
        <%= f.file_field :avatar %></p>
        <%= f.submit "Save" %>
    <%end%><br>
</div>