<div class = "center">
<% if @user == User.find_by(name: "Batman") %>
    <%= image_tag "batman_sajjad-ahmadi-edzVv0hEd7E-unsplash.jpg", size: "600x500", alt: "profile picture"%>
<% end %>

<h2><%= @user.name %></h2>

<strong>Bio</strong>
<p><%=@user.bio%></p>
</div>

<!--Render upcoming events table -->
<%= render partial: '/events/eventstable', locals: {events: @user.events.upcoming, caption: "Upcoming Events"} %>
<!--Render past events table -->
<%= render partial: '/events/eventstable', locals: {events: @user.events.past, caption: "Past Events"} %>

<% if @user == current_user || current_user.admin?%>
    <%= button_to "Edit User", edit_user_path, :method => "get" %>
<% end %>
