<h2><%= @user.name %></h2>

<strong>Bio</strong>
<p><%=@user.bio%></p>

<strong>Upcoming Events<strong>
<p> Add table here with filtered list of events <p>

<strong>Past Events<strong>
<p> Add table here with filtered list of events <p>


<h3>The following links are temporary</h3>

<%= link_to "Users Index Page", users_path%>
<%= button_to "Users Index Page", users_path, :method => "get" %>
<%= link_to "Edit User", edit_user_path%>
<%= button_to "Edit User", edit_user_path, :method => "get" %>
<%= link_to "New User", new_user_path%>
<%= button_to "Edit User", new_user_path, :method => "get" %>

<%= button_to "Delete User", user_path, :confirm => 'Are you sure?', :method => "delete" %>
