<!--#Renders table of event details with appropriate links. Requires 2 locals events which is an array of event objects and caption which is string -->

<div>
  <table style="width:50%">
    <caption><%=caption%></caption>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Location</th>
        <th>Expected Attendance</th>
      </tr>
      <% events.each do |event| %>
      <tr>
        <td><%=link_to event.title, event_path(event.id)%></td>
        <td><%=event.time%></td>
        <td><%=event.venue.name%></td>
        <td><%=event.attendance%></td>
      </tr>
      <% end %>
  </table>

</div> <br>