<div class="error">
<% if event.errors.any? %>
    <% event.errors.full_messages.each do |message|%>
        <h4><%= message %> </h4>
    <%end%>
<%end%>
</div>

<div >
    <%= form_for event do |f|%>
        <p><%= f.label :"Title:" %>
        <%= f.text_field :title %></p>
        <p><%= f.label :"Description:" %>
        <%= f.text_area :description %></p>
        <p><%= f.label :"Date and time:" %>
        <%= f.datetime_local_field :time%></p>
        <p><%= f.label :"Duration:"%>
        <%= f.number_field :durations_hours%></p>
        <p><%= f.label :"Venue:" %>
        <%= f.collection_select :venue_id, Venue.all, :id, :name, prompt:true %></p>
        <select class="browser-default">
        <p><%= f.label :"Caterer:" %>
        <%= f.collection_select :caterer_id, Caterer.all, :id, :name, prompt:true %></p>

        <p><%= f.label :"Host:" %>
        <%= f.collection_select :host, User.all, :id, :name, prompt:true %></p>

        <p><%= f.label :"Guest List:" %>
        <%= f.collection_check_boxes :user_ids, User.all, :id, :name, prompt:true %></p>
        </select>
        <%= f.submit "Save" %>
    <%end%><br>
</div>