<h2>Current Events</h2>


<p>Some really great text about our event page?<p>


<div>
  <table style="width:50%">
    <caption>Upcoming Events</caption>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Location</th>
      <th>Food</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event%></td>
        <td><%= event.time%></td>
        <td><%= link_to event.venue.name, venue_path(event.venue)%></td>
        <td><%=event.caterer.name%></td>
      </tr>
    <% end %>
  </table>

</div> <br>

<%= button_to "New Event", new_event_path, :method => "get" %>


