<div class="event_show">

<div class= "center">
    <h1 class="page_title"><%= @event.title %></h1>

    <p>ON</p>
    <h1><%= @event.formal_date %></h1>
    <p>AT</p>
    <h1><%= @event.start_time %></h1>
    <p>Hosted by</p>
    <h1><%= link_to @event.host.name, user_path(@event.host), class: 'nolink'%></h1>
    <p>Food From</p>
    <h2><%=link_to  @event.caterer.name, caterer_path(@event.caterer) %></h2>
    <p>Lasting:
    <%= "#{@event.durations_hours} hr" %></p>
    <p>Event Description:</p>
    <p><%=  @event.description %></p>

    <h3>Confirmed Guests</h3>
    <ul>
        <% @event.guest_list.each do |user| %>
            <li><%=link_to user.name, user_path(user) %></li>
        <% end %>
    </ul>
</div>

<% if @event.host == current_user || current_user.admin? %>
    <%= button_to 'Edit Event', edit_event_path, :method => "get" %><br>
<% else %>
    <% if @event.guest_list.include?(current_user) %>
        <%= render partial: 'notattend', locals: {event: @event} %>
    <% else %>
        <%= render partial: 'attend', locals: {event: @event} %>
    <% end %>
<%end%>

</div>



