<h2><%= @event.title %></h2>

<div>
    
   
    <strong>Time:</strong>
    <p><%=  @event.time %></p>
    <strong>Duration:</strong>
    <p><%=  @event.durations_hours %></p>
    <strong>Caterer:</strong>
    <p><%=  @caterer.name %></p>
    <strong>Event Description:</strong>
    <p><%=  @event.description %></p>
    <strong>Current Attendees:</strong>
    <p><%=  @User.all %></p>




    

</div>