<!DOCTYPE html>
<html>
  <head>
    <title>Superspreader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    
    <header>
      <h1>Superspreader.com<h1>
      <h3>The Place for a Super Party</h3>

<!-- left format -->
      <ul class="menu">
          <li class="menu"><%= link_to "Home", root_path %></li>
          <li class="menu"><%= link_to "Events", events_path %></li>
          <li class="menu"><%= link_to "Venues", venues_path%></li>
          <li class="menu"><%= link_to "Users", users_path%></li>
          <li class="menu"><%= link_to "Caterers", caterers_path%></li>
<!-- right format only render once logged in? -->
          <li class="menu" id="right"><%= button_to 'Log Out',destroy_user_session_path, method: 'delete', :class => 'menu_button'%></li>
          <li class="menu" id="right"><%= link_to "Profile", user_path(current_user)%></li>
          
          </ul>
    </header>


    <div class = "container">
      <%= yield %>
    </div>


    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #0B0C10;
        color: white;
        text-align: center;
}
    </style>

    <div class="footer">
      <p>Let's Party!</p>
      <p>© 2021 Copyright </p>
    </div>

  </body>
</html>
