<!DOCTYPE html>
<html>
  <head>
    <title>Superspreader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <header>
      <h1>Superspreader.com<h1>
      <h3>The Place for a Super Party</h3>
      <nav class="menu">
<!-- left format -->
          <%= link_to "Events", events_path %>
          <%= link_to "Venues", venues_path%>
          <%= link_to "Users", users_path%>
          <%= link_to "Caterers", caterers_path%>
<!-- right format -->
          
          <%= button_to 'Log Out', destroy_user_session_path, method: 'delete'%>

      </nav>


    </header>
   
    <%= yield %>
  </body>
</html>
