<!DOCTYPE html>
<html>
  <head>
    <title>Superspreader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <header>
      <h1>Superspreader.com<h1>
      <h3>The Place for a Super Party</h3>
      <nav class="menu">
    
          <%= link_to "Venues Index Page", venues_path%>
          <%= link_to "Users Index Page", users_path%>
          <%= link_to "Caterers Index Page", caterers_path%>

      </nav>


    </header>
   
    <%= yield %>
  </body>
</html>
